<div class="mt-4">
    <h2>Thêm khóa học mới</h2>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên môn học</label>
            <input type="text" class="form-control" id="name">
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Mô tả môn học</label>
            <input type="text" class="form-control" id="description">
        </div>

        <div class="mb-3">
            <label for="videoID" class="form-label">Mã video</label>
            <input type="text" class="form-control" id="videoID">
        </div>

        <div class="mb-3">
            <label for="level" class="form-label">Tên môn học</label>
            <input type="text" class="form-control" id="level">
        </div>

        <div class="mb-3">
            <label for="totalTime" class="form-label">Số giờ học</label>
            <input type="text" class="form-control" id="totalTime">
        </div>
        
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
</form>
</div>