<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://play-lh.googleusercontent.com/nxo4BC4BQ5hXuNi-UCdPM5kC0uZH1lq7bglINlWNUA_v8yMfHHOtTjhLTvo5NDjVeqx-" alt="" class="icon-app">
    CGV
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
    
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              <img src="https://lh3.googleusercontent.com/a/ACg8ocIIW56ELqnzhuUM4PxpsA59UcWKQyuSjaP0_ZOY7KbTBKcZ9ECy=s432-c-no" alt="User Avatar" class="user-avatar">
              Hà Đào
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/courses/create">Thêm mới khóa học</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/me/stored/courses">Chỉnh sửa khóa học</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Đăng xuất</a>
            </div>
          </li>
      </ul>      
    </div>
  </div>
</nav>